[Unit]
Description=ScrapeMonitor Service
After=syslog.target network.target
    
[Service]
Type=forking
User=scrapemonitor
Group=scrapemonitor
Environment=JAVA_HOME=/usr/lib/jvm/java
ExecStart=/apps/scrapemonitor/runDist.sh
ExecStop=/apps/scrapemonitor/kill-scrapemonitor.sh
    
[Install]
WantedBy=multi-user.target
